@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	font-family:'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* ************************************************************************** */
/*                                   HEADER                                   */
/* ************************************************************************** */
.header {
	background-color: #1F2937;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex: 0 0 50px;
}

h3,
h4 {
	font-size: 24px;
	color: #F9FAF8;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	display: flex;
}

li {
	padding: 10px;
}

a {
	text-decoration: none;
	color: #E5E7EB;
	padding: 10px;
}

a:hover {
	background-color: #3882F6;
}

/* ************************************************************************** */
/*                                   CONTENT                                  */
/* ************************************************************************** */
.content {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 0 auto;
	padding: 5%;
}

button {
	background-color: #3882F6;
	color: #F9FAF8;
	padding: 0.5em 2em;
	width: fit-content;
	border-radius: 10px;
	font-weight: bold;
	border-width: 0;
}

a,
p,
button {
	font-size: 18px;
}

/* ************************************************************************** */
/*                                 SECTION ONE                                */
/* ************************************************************************** */
#one {
	background-color: #1F2937;
}

#one div {
	width: 30vw;
	display: flex;
	flex-direction: column;
}

#one h1 {
	color: #F9FAF8;
	font-weight: 900;
	font-size: 48px;
	margin: 0;
}

#one p {
	color: #E5E7EB;
	margin: 0px 0px 10px 0px;
}

#one figcaption {
	color:#E5E7EB;
}

#one img {
	width: 30vw;
}

/* ************************************************************************** */
/*                                 SECTION TWO                                */
/* ************************************************************************** */
#two {
	flex-direction: column;
}

#two h2 {
	font-size: 36px;
	font-weight: 900;
	color: #1F2937;
}

#card-container {
	display: flex;
	justify-content: space-around;
	gap: 40px;
}

.card {
	text-align: center;
	margin: 0;
}

.card img {
	border: 3px solid #3882F6;
	border-radius: 20px;
	min-width: 150px;
	min-height: 150px;
}

#two figcaption {
	max-width: 150px;
	color: #1F2937;
}

/* ************************************************************************** */
/*                                SECTION THREE                               */
/* ************************************************************************** */
#three {
	background-color: #E5E7EB;
	flex-direction: column;
	padding: 5% 20%;
}

#citation {
	font-size: 36px;
	color: #1F2937;
	font-weight: 300;
	font-style: italic;
}

#three p {
	margin: 0;
}

#signature {
	align-self: flex-end;
	font-weight: bold;
	color: #1F2937;
}

/* ************************************************************************** */
/*                                SECTION FOUR                                */
/* ************************************************************************** */
#action-container {
	background-color: #3882F6;
	color: #F9FAF8;
	border-radius: 20px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-grow: 1;
}

#action-text {
	margin: 50px;
}

#four button {
	border: 3px solid #F9FAF8;
}

#four h4,
p {
	margin: 0;
}

/* ************************************************************************** */
/*                                   FOOTER                                   */
/* ************************************************************************** */
.footer {
	background-color: #1F2937;
	color: #F9FAF8;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
}